@using Chandigarh_Estates;
@model Chandigarh_Estates.CompanyDetail


@{
    Layout = "_LoginLayout";
   

}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    
     <link href="/css/css/Reg.css" rel="stylesheet">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Add Company</div>
    <div class="content">
                <form asp-controller="Home" asp-action="AddCompany" method="post">
        <div class="user-details">
          <div class="input-box">
                        <span class="details">Company Name</span>
                        <input type="text" placeholder="Enter your CompanyName" name="CompanyName" required value="@Model.CompanyName">
          </div>
          <div class="input-box">
            <span class="details">Company Email</span>
            <input type="email" placeholder="Enter your Company's Email" name="Email" required value="@Model.Email" >
          </div>
                    <div class="input-box">
                        <span class="details">Pin</span>
                        <input type="text" placeholder="Enter your Pin" name="Pin" required value="@Model.Pin" >
                    </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
                        <input type="text" placeholder="Enter your number" name="ContactNo" required value="@Model.ContactNo">
          </div>
                    <div class="input-box">
                        <span class="details">Company Address</span>
                        <input type="text" placeholder="Enter your Company's Address" name="Address" required value="@Model.Address">
                    </div>

          <div class="input-box">
                        <span class="details"> States</span>

                       
                            
                            <select onchange="getCity()" id="ddlState" Name="StateId" asp-for="StateId">
                                {
                            <option value="">Select One</option>
                                @{
                                    foreach (var state in (List<State_Table>)TempData["State"])
                                    {
                                        
                                        <option value="@state.StateId"> @state.StateName</option>
                                    }
                                }

                            </select>


                        <span class="details"> City</span>
                        
                            <select id="ddlCity" name="CityId" asp-for="CityId">
                            <option value="">Select One</option>
                        </select>

                        

          </div>
                 </div>
        <div class="button">
          <input type="submit" value="Add" name="Add">
        </div>
      </form>
    </div>
  </div>

</body>

</html>


<script>

        function getCity() {
        debugger;
        var stateId = $("#ddlState").val();

        $.get("/Home/GetCity/" + stateId,
            function (res) {

                debugger;

                
                
                for (var i = 0; i < res.length; i++) {
                    var option = $("<option></option>");

                    if (res[i].cityId === 0) {
                        option.val("0").text("Select One");
                    } else {
                        option.val(res[i].cityId).text(res[i].cityName);
                    }

                    $("#ddlCity").append(option);
                }
                //for (var i = 0; i < res.length; i++)
                    
                //    var option = "<option value='" + res[i].cityId + "'>" + res[i].cityName + "</option>";
                //    $("#ddlCity").append(option);
                //}
               
            });


        }

</script>
